header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: rgb(41, 41, 41);
    padding: 25px;
    border-bottom: 1px white solid;

}

header h1{
    cursor: pointer;
    font-size: 2.8em;

}

header nav {
    display: flex;
    align-items: center;
}

header nav a{
    margin-right: 1.3em;


}

header h1, a{
    color: #00e0ff;


}

header h1:hover, a:hover{
    color: white;

}